@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    margin-bottom: 0;
    /* border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; */
    border-radius: 0;
  }
  .header-buttons-block button {
    width: 45px;
    height: 45px;
  }
  .adding-modal-window {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  .transactions-page {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
  }
  .adding-categories-container {
    height: 80%;
  }
}
