@import "../../lib/css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

:root {
  --border-color: rgb(172, 172, 172);
  --bg-color: rgb(241, 241, 241);
  /* --main-color: rgb(86, 77, 217); */
  --main-color: rgb(33, 135, 251);
}

body {
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}

button:hover {
  cursor: pointer;
}

#hidden {
  display: none;
}
/*---------------- APP --------------------- */
.app {
  width: 100vw;
  height: 100vh;
  background: rgb(249, 241, 241);
  background: linear-gradient(
    210deg,
    rgba(249, 241, 241, 1) 0%,
    rgb(115, 146, 249) 83%
  );
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  width: 30%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  z-index: 100;
}
.header-buttons-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
}
.header-buttons-block button {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  border: 0;
  background-color: white;
  /* background: rgba(255, 255, 255, 0.255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  font-size: 25px;
  color: var(--main-color);
  transition: all 0.3s;
}

.header-buttons-block button:hover {
  background: rgba(255, 255, 255, 0.692);
}

#header-current-btn {
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  color: white;
}

#current-page {
  display: flex;
}

.adding-modal-window {
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  display: none;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.adding-types-buttons {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}
.adding-types-buttons button {
  width: 40%;
  height: 40px;
  font-size: 20px;
  border: 0;
  /* border: 1px solid var(--main-color); */
  border-radius: 10px;
  background-color: white;
  color: var(--main-color);
  transition: all 0.3s;
}

.adding-types-buttons button:hover {
  background-color: var(--main-color);
  color: white;
}

.adding-types-buttons button i {
  margin-right: 15px;
}

#current-adding-types-btn {
  border: 0;
  background-color: var(--main-color);
  color: white;
}
.adding-expense-block {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}
.adding-amount-block {
  width: 48%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.adding-header {
  font-size: 27px;
  font-weight: bold;
  margin: 0;
}
.adding-title {
  font-size: 18px;
  /* font-weight: bold; */
  margin: 15px;
  margin-top: 0px;
}
.adding-amount-date-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 85%;
}
.adding-amount-input {
  width: 85%;
  height: 40px;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  background-color: var(--bg-color);
  padding-left: 20px;
  font-size: 25px;
  color: black;
}
.adding-amount-input:focus {
  outline: none;
}
.adding-category-block {
  width: 85%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  padding-top: 5px;
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.adding-categories-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 90px;
  overflow-y: auto;
}
/* .adding-categories-container::-webkit-scrollbar {
  display: none;
}
.adding-categories-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */
.adding-category-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 15px;
  width: 75px;
  height: 90px;
  border-radius: 15px;
}
/* #current-adding-category {
  background-color: aquamarine;
  color: white;
} */
.adding-category-btn {
  width: 60px;
  height: 60px;
  border: 0;
  background-color: rgb(60, 211, 60);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adding-category-btn i {
  color: white;
  font-size: 25px;
}
.adding-category-name {
  font-size: 14px;
  margin: 0;
  margin-top: 7px;
}
.adding-date-block {
  width: 48%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.adding-date-input {
  width: 80%;
  height: 40px;
  border: 0;
  border-radius: 15px;
  border: 1px solid var(--main-color);
  background-color: var(--bg-color);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: black;
}
.adding-date-input:focus {
  outline: none;
}
.adding-details-block {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.adding-details-input {
  width: 80%;
  height: 40px;
  border: 0;
  border-radius: 15px;
  border: 1px solid var(--main-color);
  background-color: var(--bg-color);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: black;
}
.adding-details-input::placeholder {
  font-size: 17px;
}
.adding-details-input:focus {
  outline: none;
}
.adding-buttons-block {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.adding-buttons-block button {
  width: 90%;
  height: 40px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  color: var(--main-color);
}
.adding-buttons-block button:nth-child(1) {
  background-color: var(--main-color);
  color: white;
}
.adding-buttons-block button:nth-child(2) {
  background-color: white;
  color: var(--main-color);
  margin-top: 10px;
}
.adding-methods-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 150px;
}
.adding-methods-block {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.adding-method-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.adding-method-block button {
  width: 55px;
  height: 55px;
  border: 1px solid var(--main-color);
  border-radius: 15px;
  font-size: 25px;
  border-radius: 10px;
  background-color: white;
  color: var(--main-color);
  transition: all 0.3s;
}
.adding-method-block button:hover {
  background-color: var(--main-color);
  color: white;
}

.adding-method-block p {
  font-size: 18px;
  margin: 0;
  margin-top: 7px;
}

#current-adding-method {
  background-color: var(--main-color);
  color: white;
}

/* -------------- Transactions Page ---------------- */
.transactions-page {
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  display: none;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.transactions-page-types-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 65px;
  border-radius: 32px;
  background-color: rgb(241, 241, 241);
  border: 1px solid var(--main-color);
  width: 85%;
  height: 40px;
}
.transactions-page-types-block button {
  width: 33.3%;
  height: 100%;
  border: 0;
  border-radius: 32px;
  font-size: 17px;
  color: black;
  background-color: transparent;
}
#tpt-current-btn {
  background-color: var(--main-color);
  color: white;
  font-size: 20px;
}
.tp-current-date {
  width: 40%;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid var(--main-color);
  border-radius: 32px;
  margin-top: 20px;
  background-color: var(--bg-color);
}
.tp-current-date:focus {
  border: 1px solid var(--main-color);
}
/* .tp-current-month {
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
}
.tp-current-month i {
  margin-right: 15px;
} */
.transactions-page-container {
  width: 89.9%;
  height: 70%;
  /* border: 1px solid; */
  margin-top: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}
.tp-item {
  width: 99.7%;
  min-height: 90px;
  height: fit-content;
  /* border: 1px solid var(--main-color); */
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(241, 241, 241);
}
.tp-item-main-block {
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 7px;
  border-bottom: 1px solid rgb(176, 176, 176);
}
.tp-item-block1 {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}
.tp-category-block {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  color: white;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
}
.tp-category-block i {
  font-size: 25px;
}
.tp-info-block {
  width: 60%;
  height: fit-content;
  margin-left: 10px;
}

.tp-category-name {
  margin: 0;
  font-size: 23px;
  font-weight: bold;
}
.tp-details {
  margin: 0;
  font-size: 17px;
}
.tp-item-block2 {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.tp-amount {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
.tp-item-submain-block {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.tp-options-block {
  width: 20%;
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.tp-option {
  width: 30px;
  height: 20px;
  /* background-color: rgb(218, 0, 0); */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: var(--main-color ÑŽ);
}
.tp-date {
  margin: 0;
  margin-left: 7px;
  font-size: 15px;
  width: 45%;
}
/* .transactions-page-title {
  font-size: 20px;
  font-weight: bold;
  margin: 15px;
  margin-top: 0px;
} */
/* .transactions-page-totals-block {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 55px;
}
.transactions-page-total-item {
  width: 32%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-radius: 15px;
  border: 1px solid var(--main-color);
  background-color: white;
  color: rgb(86, 77, 217);
}
.transactions-page-total-item i {
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}
.transactions-page-total-item-subblock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.transactions-page-total-title {
  font-size: 17px;
  margin: 5px;
}
.transactions-page-total-income-amount {
  font-size: 22px;
  font-weight: bold;
  margin: 5px;
  margin-top: 0;
}
.transactions-page-total-expense-amount {
  font-size: 22px;
  font-weight: bold;
  margin: 5px;
  margin-top: 0;
}
.transactions-page-total-profit-amount {
  font-size: 23px;
  font-weight: bold;
  margin: 5px;
  margin-top: 0;
} */

/* --------- Categories buttons -------------- */
#new-category-btn {
  background-color: transparent;
  border: 1px solid var(--main-color);
}
#new-category-btn i {
  color: rgb(86, 77, 217);
}
#groceries-category-btn {
  background-color: rgb(161, 215, 131);
}
/* #health-category-btn {
  background-color: red;
}
#restaurants-category-btn {
  background-color: orange;
}
#transport-category-btn {
  background-color: rgb(0, 132, 255);
}
#taxi-category-btn {
  background-color: rgb(122, 95, 31);
} */
